/* Start Variables */
:root {
  --main-color: #19c8fa;
  --secondary-color: #1f2021;
  --transparent-color: #0f748fb3;
  --section-padding: 100px;
  --main-duration: 0.3s;
}
/* End Variables */
/* Start Global Rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

ul {
  list-style: none;
}

@media (max-width: 575px) {
  .container {
    width: 100%;
  }
}

@media (min-width: 576px) {
  .container {
    width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1140px;
  }
}

@media (min-width: 1400px) {
  .container {
    width: 1320px;
  }
}
/* End Global Rules */
/* Start Components */
.special-heading {
  text-align: center;
}

.special-heading h2 {
  font-size: 40px;
  font-weight: normal;
  position: relative;
  margin-bottom: 40px;
  text-transform: uppercase;
}

.special-heading h2::before {
  content: "";
  width: 140px;
  height: 2px;
  margin-top: 20px;
  background-color: #333;
  position: absolute;
  left: 50%;
  bottom: -30px;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}

.special-heading h2::after {
  content: "";
  width: 15px;
  height: 15px;
  margin-top: 20px;
  position: absolute;
  background-color: #fff;
  border: 2px solid #333;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  left: 50%;
  bottom: -38px;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}

.special-heading p {
  margin: 80px auto 100px;
  width: 550px;
  line-height: 1.8;
  opacity: 0.8;
}

@media (max-width: 767px) {
  .special-heading h2 {
    font-size: 35px;
  }

  .special-heading p {
    max-width: 100%;
    font-size: 14px;
  }
}

@media (max-width: 420px) {
  .special-heading h2 {
    font-size: 32px;
  }

  .special-heading p {
    max-width: 100%;
    font-size: 13px;
  }
}
/* End Components */
/* Start Header */
.header {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 2;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  min-height: 97px;
}

.header .container::after {
  content: "";
  width: calc(100% - 30px);
  height: 1px;
  background-color: #a2a2a2;
  position: absolute;
  left: 15px;
  bottom: 0;
}

.header .container .image img {
  height: 40px;
}

.header .container .nav-bar {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header .container .nav-bar .menu {
  display: none;
  color: white;
  font-size: 22px;
  transition: var(--main-duration);
  -webkit-transition: var(--main-duration);
  -moz-transition: var(--main-duration);
  -ms-transition: var(--main-duration);
  -o-transition: var(--main-duration);
}

.header .container .nav-bar ul {
  display: flex;
}

.header .container ul li a {
  display: block;
  color: white;
  text-decoration: none;
  font-size: 0.875rem;
  padding: 40px 20px;
  position: relative;
  z-index: 2;
  transition: var(--main-duration);
  -webkit-transition: var(--main-duration);
  -moz-transition: var(--main-duration);
  -ms-transition: var(--main-duration);
  -o-transition: var(--main-duration);
}

@media (max-width: 767px) {
  .header .container .image img {
    height: 34px;
  }

  .header .container .nav-bar .menu {
    display: block;
  }

  .header .container .nav-bar .menu:hover {
    color: var(--main-color);
  }

  .header .container .nav-bar ul {
    display: none;
  }

  .header .container .nav-bar .menu:hover + ul {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
  }

  .header .container .nav-bar .menu:hover + ul li a {
    width: 100%;
    padding: 15px;
  }
}

@media (max-width: 991px) {
  .header .container ul li a {
    padding: 40px 10px;
  }
}

.header .container ul li a:hover,
.header .container ul li a.focused {
  color: var(--main-color);
  border-bottom: 1px solid var(--main-color);
}

.header .container .nav-bar .search {
  width: 40px;
  height: 30px;
  margin-left: 30px;
  border-left: 1px solid white;
  position: relative;
}

.header .container .nav-bar .search i {
  color: white;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}

.header .container .nav-bar .search i:hover {
  color: var(--main-color);
  cursor: pointer;
  transition: var(--main-duration);
  -webkit-transition: var(--main-duration);
  -moz-transition: var(--main-duration);
  -ms-transition: var(--main-duration);
  -o-transition: var(--main-duration);
}
/* End Header */
/* Start Landing */
.landing {
  height: 100vh;
  background-image: url("../images/landing.jpg");
  background-size: cover;
}

.landing .overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.landing .text {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  background-color: var(--transparent-color);
  padding: 50px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}

.landing .text .content {
  color: white;
  max-width: 500px;
}

@media (max-width: 1250px) {
  .landing .text .content {
    padding-left: 50px;
  }
}

@media (max-width: 767px) {
  .landing .text .content {
    padding-left: 0;
  }
}

.landing .text .content h2 {
  font-size: 32px;
  font-weight: normal;
  line-height: 1.5;
  margin-bottom: 30px;
}

.landing .text .content p {
  font-size: 14px;
  line-height: 2;
  font-weight: normal;
}

@media (max-width: 767px) {
  .landing .text {
    width: 100%;
    justify-content: center;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
  }

  .landing .fa-angle-left,
  .landing .fa-angle-right {
    display: none;
  }
}

.landing .fa-angle-left,
.landing .fa-angle-right {
  color: white;
  font-size: 30px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}

.landing .fa-angle-left:hover,
.landing .fa-angle-right:hover {
  color: var(--main-color);
  cursor: pointer;
}

.landing .fa-angle-left {
  left: 30px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

.landing .fa-angle-right {
  right: 30px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

.landing .bullets {
  display: flex;
  justify-content: center;
  gap: 10px;
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}

.landing .bullets li {
  width: 20px;
  height: 20px;
  border: 1px solid white;
  cursor: pointer;
  transition: var(--main-duration);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  -webkit-transition: var(--main-duration);
  -moz-transition: var(--main-duration);
  -ms-transition: var(--main-duration);
  -o-transition: var(--main-duration);
}

.landing .bullets li:not(:nth-child(2)):hover {
  background-color: var(--transparent-color);
}

.landing .bullets .active {
  border: 1px solid var(--main-color);
  background-color: var(--main-color);
  transform: scale(1.3);
  -webkit-transform: scale(1.3);
  -moz-transform: scale(1.3);
  -ms-transform: scale(1.3);
  -o-transform: scale(1.3);
}

.landing .bullets .active:hover {
  border-color: white;
}

.landing .bullets li:hover {
  transform: scale(1.5);
  -webkit-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -ms-transform: scale(1.5);
  -o-transform: scale(1.5);
}
/* End Landing */
/* Start Services */
.services {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}

.services .container .content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
  grid-column-gap: 60px;
  grid-row-gap: 40px;
}

@media (max-width: 767px) {
  .services .container .content .srv {
    flex-direction: column;
    max-width: 100%;
  }

  .services .container .content {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    text-align: center;
  }

  .services .container .content .srv .text h3 {
    margin-top: 30px;
  }
}

.services .container .content .srv {
  display: flex;
}

.services .container .content .srv i {
  margin-right: 50px;
}

@media (max-width: 767px) {
  .services .container .content .srv i {
    margin-right: 0;
  }
}

.services .container .content .srv .text h3 {
  color: var(--main-color);
  margin-bottom: 50px;
}

.services .container .content .srv .text p {
  line-height: 2;
}
/* End Services */
/* Start Design */
.design {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-image: url("../images/design-features.jpg");
  background-size: cover;
  position: relative;
  height: 525px;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.design::before {
  content: "";
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.design .image img {
  position: absolute;
  top: 120px;
  left: 370px;
}

@media (max-width: 767px) {
  .design .image img {
    display: none;
  }
}

@media (min-width: 768px) {
  .design .image img {
    top: 120px;
    left: 30px;
  }
}

@media (min-width: 992px) {
  .design .image img {
    top: 120px;
    left: 125px;
  }
}

@media (min-width: 1400px) {
  .design .image img {
    top: 120px;
    left: 250px;
  }
}

.design .text {
  color: white;
  background-color: var(--transparent-color);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  right: 0;
  width: 50%;
  padding: 50px;
}

.design .text h2 {
  font-weight: normal;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.design .text h2 + ul li {
  margin: 0 0 30px;
}

.design .text h2 + ul li::before {
  content: "\f26c";
  font-weight: 900;
  font-family: "Font Awesome 5 Free";
  margin-right: 20px;
  top: 1px;
}

@media (max-width: 767px) {
  .design .text {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    width: 100%;
  }
}
/* End Design */
/* Start Portfolio */
.portfolio {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}

.portfolio ul {
  display: flex;
  justify-content: center;
  gap: 2px;
}

.portfolio ul li {
  padding: 10px 25px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 13px;
  cursor: pointer;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

@media (max-width: 767px) {
  .portfolio ul li {
    padding: 10px 10px;
  }
}

@media (max-width: 319px) {
  .portfolio ul li {
    padding: 5px 5px;
  }
}

.portfolio ul li:first-of-type,
.portfolio ul li:hover {
  background-color: var(--main-color);
  color: white;
}

.portfolio .imgs-container {
  display: grid;

  margin-top: 50px;
}

@media (min-width: 1200px) {
  .portfolio .imgs-container {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 1199px) {
  .portfolio .imgs-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 767px) {
  .portfolio .imgs-container {
    grid-template-columns: 1fr;
  }
}

.imgs-container .img-box {
  overflow: hidden;
  position: relative;
}

.imgs-container .img-box img {
  max-width: 100%;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

.imgs-container .img-box:hover img {
  transform: scale(1.1) rotate(3deg);
  -webkit-transform: scale(1.1) rotate(3deg);
  -moz-transform: scale(1.1) rotate(3deg);
  -ms-transform: scale(1.1) rotate(3deg);
  -o-transform: scale(1.1) rotate(3deg);
}

.portfolio .imgs-container .img-box .cap {
  position: absolute;
  bottom: -100%;
  padding: 25px;
  background-color: white;
  width: 100%;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

.portfolio .imgs-container .img-box:hover .cap {
  position: absolute;
  bottom: 0;
}

.portfolio .imgs-container .img-box .cap h4 {
  margin-bottom: 10px;
  font-weight: normal;
}

.portfolio .imgs-container .img-box .cap P {
  color: var(--main-color);
  font-size: 13px;
}

.more {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.more a {
  text-decoration: none;
  color: white;
  background-color: var(--main-color);
  padding: 15px 40px;
  text-transform: uppercase;
}
/* End Portfolio */
/* Start Video */
.video {
  position: relative;
}

.video::before {
  content: "";
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.video video {
  width: 100%;
}

.video .text {
  background-color: var(--transparent-color);
  width: 100%;
  text-align: center;
  padding: 60px;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

.video .text h4 {
  font-size: 25px;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.video .text p {
  font-size: 14px;
  margin-bottom: 30px;
}

.video .text button {
  background-color: black;
  border: none;
  color: white;
  padding: 6px 27px;
  text-transform: uppercase;
  cursor: pointer;
}

@media (max-width: 767px) {
  .video .text {
    padding: 20px;
  }

  .video .text h4 {
    font-size: 20px;
  }

  .video .text p {
    font-size: 13px;
    margin-bottom: 30px;
  }

  .video .text button {
    padding: 10px 15px;
  }
}

/* End Video */
/* Start About */
.about {
  padding-top: var(--section-padding);
  overflow: hidden;
  text-align: center;
}

.about img {
  position: relative;
  bottom: -120px;
  margin-top: -120px;
  max-width: 100%;
}

@media (max-width: 767px) {
  .about img {
    bottom: -85px;
    margin-top: -85px;
  }
}
/* End About */
/* Start Statistics */
.stats {
  background-image: url("../images/stats.png");
  background-size: cover;
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  position: relative;
  text-align: center;
}

.stats::before {
  content: "";
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.stats .container {
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.stats .container .box {
  padding: 50px;
  background-color: var(--transparent-color);
  z-index: 2;
  color: white;
}

@media (min-width: 992px) {
  .stats .container .box {
    flex-basis: 25%;
  }
}

@media (max-width: 991px) {
  .stats .container .box {
    flex-basis: 50%;
  }
}

@media (max-width: 768px) {
  .stats .container .box {
    flex-basis: 100%;
  }
}

.stats .container .box i {
  width: 50px;
  height: 50px;
  background-color: black;
  color: white;
  clip-path: polygon(50% 5%, 90% 30%, 90% 70%, 50% 95%, 10% 70%, 10% 30%);
  position: relative;
  margin-bottom: 25px;
}

.stats .container .box i::before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.stats .container .box h3 {
  font-size: 50px;
  margin-bottom: 25px;
}

.stats .container .box p {
  font-size: 14px;
  font-weight: normal;
}
/* End Statistics */
/* Start Skills */
.skills {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}

.skills .container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.skills .container > div {
  flex-basis: 45%;
  text-align: center;
}

@media (max-width: 991px) {
  .skills .container > div {
    flex-basis: 100%;
  }
}

.skills .container > div h3 {
  text-transform: uppercase;
  font-weight: normal;
  margin-bottom: 30px;
}

.skills .container > div p {
  font-size: 16px;
  color: #777;
  margin-bottom: 50px;
  line-height: 1.6;
}

.skills .container .testimonials .card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}

@media (max-width: 767px) {
  .skills .container .testimonials .card {
    flex-wrap: wrap;
    justify-content: center;
  }
}

.skills .container .testimonials .card img {
  width: 100px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  margin-right: 50px;
}

@media (max-width: 767px) {
  .skills .container .testimonials .card img {
    margin: 0 0 20px;
  }
}

.skills .container .testimonials .card .cap {
  border-bottom: 1px solid #ccc;
}

.skills .container .testimonials .card .cap p {
  color: black;
  margin: 0 0 30px;
  line-height: 1.8;
  text-align: initial;
}

@media (max-width: 767px) {
  .skills .container .testimonials .card .cap p {
    text-align: center;
  }
}

.skills .container .testimonials .card .cap h5 {
  text-align: right;
  font-weight: normal;
  color: #333;
  margin-bottom: 20px;
}

.skills .container .testimonials .bullets {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 50px;
}

.skills .container .testimonials .bullets span {
  width: 14px;
  height: 14px;
  border: 1px solid #acacac;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  cursor: pointer;
  transition: var(--main-duration);
  -webkit-transition: var(--main-duration);
  -moz-transition: var(--main-duration);
  -ms-transition: var(--main-duration);
  -o-transition: var(--main-duration);
}

.skills .container .testimonials .bullets .active {
  background-color: var(--main-color);
  border-color: var(--main-color);
  transform: scale(1.2, 1.2);
  -webkit-transform: scale(1.2, 1.2);
  -moz-transform: scale(1.2, 1.2);
  -ms-transform: scale(1.2, 1.2);
  -o-transform: scale(1.2, 1.2);
}

.skills .container .testimonials .bullets span:hover {
  border-color: #acacac;
  transform: scale(1.3, 1.3);
  -webkit-transform: scale(1.3, 1.3);
  -moz-transform: scale(1.3, 1.3);
  -ms-transform: scale(1.3, 1.3);
  -o-transform: scale(1.3, 1.3);
}

.skills .container .our-skills .counters .prog-holder h4 {
  text-transform: uppercase;
  text-align: initial;
  margin: 15px 0;
  font-weight: normal;
}

.skills .container .our-skills .counters .prog-holder .prog {
  width: 100%;
  height: 30px;
  background-color: #dedadc;
  position: relative;
  margin-bottom: 30px;
}

.skills .container .our-skills .counters .prog-holder .prog span {
  position: absolute;
  left: 0;
  background-color: var(--main-color);
  height: 100%;
}

.skills .container .our-skills .counters .prog-holder .prog span::before {
  content: attr(data-progress);
  background-color: black;
  color: white;
  padding: 3px;
  border-radius: 10%;
  -webkit-border-radius: 10%;
  -moz-border-radius: 10%;
  -ms-border-radius: 10%;
  -o-border-radius: 10%;
  position: absolute;
  right: -20px;
  bottom: 40px;
}

.skills .container .our-skills .counters .prog-holder .prog span::after {
  content: "";
  position: absolute;
  border: 8px solid transparent;
  border-top-color: black;
  right: -10px;
  bottom: 25px;
}
/* End Skills */
/* Start Quote */
.quote {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-image: url(../images/quote.jpg);
  background-size: cover;
  position: relative;
}

.quote::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}

.quote .container {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}

.quote .container q {
  color: white;
  font-size: 28px;
  margin-bottom: 20px;
}

.quote .container h5 {
  color: white;
  font-size: 18px;
  font-weight: normal;
}
/* End Quote */
/* Start Pricing */
.pricing {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}

.pricing .container .plans {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 30px;
  text-align: center;
}

.pricing .container .plans .plan .price {
  border-top: 1px solid var(--main-color);
  border-bottom: 1px solid var(--main-color);
  padding: 40px 20px;
}

.pricing .container .plans .plan .price h3 {
  font-weight: normal;
  margin-bottom: 20px;
}

.pricing .container .plans .plan .price div {
  font-size: 60px;
  font-weight: bold;
  position: relative;
}

.pricing .container .plans .plan .price div::before {
  content: "$";
  position: relative;
  top: -45px;
  margin-right: 15px;
  font-size: 25px;
  font-weight: normal;
}

.pricing .container .plans .plan .price div::after {
  content: "/Mo";
  position: relative;
  bottom: -5px;
  right: -15px;
  font-size: 20px;
  font-weight: bold;
}

.pricing .container .plans .plan .features {
  border-bottom: 1px solid var(--main-color);
}

.pricing .container .plans .plan .features li {
  margin: 10px 0;
  position: relative;
  padding: 10px;
}

.pricing .container .plans .plan .features li:not(:last-child):after {
  content: "";
  width: 100%;
  height: 1px;
  background-color: var(--main-color);
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 140px;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}

.pricing .container .plans .plan .buy a {
  display: block;
  color: #333;
  border: 1px solid var(--main-color);
  padding: 20px;
  margin: 30px auto;
  width: fit-content;
  text-decoration: none;
}

.pricing .container .p-cont p {
  margin: 50px auto 20px;
  text-align: center;
  font-size: 20px;
}

.pricing .container .p-cont a {
  text-decoration: none;
  background-color: var(--main-color);
  color: white;
  padding: 20px 30px;
  display: block;
  margin: auto;
  width: fit-content;
}
/* End Pricing */
/* Start Subscribe */
.subscribe {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-image: url(../images/subscribe.jpg);
  background-size: cover;
  position: relative;
  color: white;
}

.subscribe::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.subscribe .container {
  position: relative;
  display: flex;
  align-items: center;
}

@media (max-width: 991px) {
  .subscribe .container {
    flex-wrap: wrap;
    justify-content: center;
  }

  .subscribe .container form {
    margin-bottom: 30px;
  }
}

.subscribe .container form {
  display: flex;
  position: relative;
  width: 500px;
  max-width: 100%;
}

.subscribe .container form i {
  position: absolute;
  left: 25px;
  top: 50%;
  transform: translateY(-50%);
}

.subscribe .container form .mail {
  background: none;
  outline: none;
  border: 1px solid white;
  border-right: none;
  color: white;
  caret-color: var(--main-color);
  padding: 20px 20px 20px 60px;
  width: calc(100% - 130px);
}

.subscribe .container form .mail::placeholder {
  color: white;
}

.subscribe .container form .sub {
  background-color: var(--main-color);
  border: 1px solid white;
  border-left: none;
  padding: 20px;
  color: inherit;
  text-transform: uppercase;
}

.subscribe .container p {
  margin-left: 50px;
  line-height: 1.8;
}

@media (max-width: 991px) {
  .subscribe .container p {
    margin: 0;
    text-align: center;
  }
}
/* End Subscribe */
/* Start Contact */
.contact {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}

.contact .container .content {
  display: flex;
  justify-content: space-between;
}

.contact .container .content form {
  flex-basis: 70%;
}

.contact .container .content form input {
  display: block;
  width: 100%;
  padding: 20px;
  border: 1px solid #ccc;
  outline: none;
  margin-bottom: 30px;
}

.contact .container .content form textarea {
  padding: 20px;
  margin-bottom: 30px;
  height: 200px;
  width: 100%;
  border: 1px solid #ccc;
  outline: none;
}

.contact .container .content form input:last-of-type {
  background-color: var(--main-color);
  color: white;
  border: none;
  margin-left: auto;
  margin-bottom: 0;
  width: fit-content;
  text-transform: uppercase;
  cursor: pointer;
}

.contact .container .content .info h4 {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 30px;
}

.contact .container .content .info span {
  display: block;
  margin-bottom: 10px;
  color: #777;
}

.contact .container .content .info h4:last-of-type {
  margin-top: 80px;
}

.contact .container .content .info address {
  color: #777;
  line-height: 1.8;
}

@media (max-width: 767px) {
  .contact .container .content {
    flex-direction: column-reverse;
  }

  .contact .container .content .info {
    text-align: center;
    margin-bottom: 40px;
  }
}
/* End Contact */
/* Start Footer */
.footer {
  padding-top: calc(var(--section-padding) / 2);
  padding-bottom: calc(var(--section-padding) / 2);
  background-image: url(../images/subscribe.jpg);
  background-size: cover;
  position: relative;
  text-align: center;
}

.footer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.footer .container {
  position: relative;
}

.footer .container img {
  margin-bottom: 20px;
}

.footer .container p:first-of-type {
  font-size: 20px;
  margin: 20px auto;
  padding: 20px;
  border-bottom: 1px solid white;
  color: white;
  text-transform: uppercase;
  width: fit-content;
}

.footer .container .social i {
  color: white;
  padding: 15px;
  transition: var(--main-duration);
  -webkit-transition: var(--main-duration);
  -moz-transition: var(--main-duration);
  -ms-transition: var(--main-duration);
  -o-transition: var(--main-duration);
  cursor: pointer;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.footer .container .social .fa-facebook:hover {
  color: #0d88f0;
}

.footer .container .social .fa-twitter:hover {
  color: #1da1f2;
}

.footer .container .social .fa-youtube:hover {
  color: #ff0000;
}

.footer .container .social .fa-linkedin:hover {
  color: #0077b5;
}

.footer .container p:last-of-type {
  color: white;
  margin-top: 60px;
}

.footer .container p:last-of-type a {
  text-decoration: none;
  font-weight: bold;
  color: var(--main-color);
}
/* End Footer */
